.container{
    user-select: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    border-radius: 50px;
    background-color: #f0f0f3;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 4px 4px 15px #d3d3d6,
                -4px -4px 15px #fff;
    top: 5px;
    &:hover{
        top: 0px;
        box-shadow: 10px 10px 21px #d3d3d6,
                -10px -10px 21px #fff;
        transition: 0.5s;
    }
    .avatar{
        user-select: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: 0.5s;
    }
    .avatar.in__favorites{
        margin-bottom: 35px;
    }
    .name{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #333;
        transition: 1s ease 0s;
        user-select: none;
    }
    &.in__favorites {
        transition: 0.5s;
      position: relative;
      // background-color: rgb(235, 221, 234);
      background-color: rgb(0, 0, 0);
      top: 5px;
      // pointer-events: none;
      .name {
        color: #fff;
      }
    }
}
// LOADER
.lds-ring {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid blue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: blue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }