@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.navbar{
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    
    .header{
        font-family: 'Montserrat', sans-serif;
        background-color: #f6f6f6;
        padding: 0 15px;
        height: 100%;
        main{
            height: 100%;
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .text{
                margin: 0;
                font-size: 1.5rem;
                color: #000;
                user-select: none;
                @media (max-width: 767px) {
                    font-size: 1.5rem;
                }
            }
            nav{
                display: flex;
                flex-direction: row;
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    li{
                        padding: 0 15px 0 0;
                    }
                    button{
                        border: none;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        cursor: pointer;
                        user-select: none;
                        font-size: 1rem;
                    }
                    button{
                        color: rgba(0,0,0,0.6);
                        background-color: #fff;
                        border-radius: 24px;
                        padding: 10px 15px;
                        transition: .4s ease 0s;
                        &:hover{
                            background-color: #fff;
                            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
.navbar.mobile {
    height: 70px;
}

/* стили для топ логина (VK LOGIN) */
button[type="button"]{
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: rgba(255,255,255,0.65);
    border-radius: 24px;
    padding: 10px 40px;
    transition: .4s ease 0s;
    &:hover{
        color:#fff;
    }
    &:active{
        opacity: .4;
    }
}

.profile{
    height: 55px;
    position: relative;
    cursor: pointer;
    transition: .2s ease 0s;
    width: 150px;
    user-select: none;
    @media (max-width: 424px) {
        width: 100%;
        height: 20vh;
        margin-bottom: 20px;
    }
    &:hover{
        background-color: #dedede;
    }
    .arrow{
        transition: .25s ease 0s; 
     }
     .arrow.rotate{
         transform: rotate(0.5turn);
     }
     .top_profile_menu{
         cursor: default;
         visibility: hidden;
         opacity: 0;
         transition: .2s ease 0s;
         position: absolute;
         padding: 30px 0;
         top: 100%;
         right: 0;
         display: flex;
         color: #000;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #e7e7e7;
         button{
             cursor: pointer;
             border: none;
             width: 150px;
             padding: 10px;
             background-color: #e7e7e7;
             font-size: 16px;
             font-family: 'Montserrat', sans-serif;
             font-weight: 500;
             &:hover{
                 background-color: #d5d5d5;
             }
         }
         .top_profile_sep{
             width: 80%;
             margin: 4px 13px;
             border-top: 1px solid #929292;
         }
     }
     .top_profile_menu.open{
         visibility: visible;
         opacity: 1;
     }
}
.profile.open{
    background-color: #cfcece;
}
.profileButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.mobile__menu{
    position: fixed;
    left: -100vw;
    top: 0;
    opacity: .5;
    bottom: 0;
    height: 100vh;
    width: 70vw;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: .5s ease-out 0s;
    ul {
        list-style: none;
        overflow-y: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {

            width: inherit;
            margin-bottom: 10px;
            button{
                background-color: rgba(0, 0, 0, 0);
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                // color: #fff;
                height: 3rem;
                width: 100%;
                overflow: hidden;
                border: none;
                text-align: start;
                padding: 0 5px;
                transition: 1s ease 0s;
                &:hover{
                    background-color: #333;
                }
            }
        }
    }
}
.mobile__menu.open {
    left: 0;
    opacity: 1;
}

  
  .burger {  
    width: 50px;
    cursor: pointer;
    border: none;
  }
  
  span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 8px;
    background: rgb(0, 0, 0);
    transition: all .3s;
    position: relative;
  }
  span + span {
    margin-top: 7px;
  }
  