.header{
    background-color: #1d1d1d;
    padding: 15px 15px;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-direction: row;
}
.text{
    margin: 0;
    color: #fff;
}
.links{
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.links li{
    padding: 0 15px 0 0;
}
button{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border: 3px solid #f6f6f6;
    transition: .4s ease 0s;
    
}
button:hover{
    color: #fff;
    background-color: #000;
    border: 3px solid #333333;
    border-style: solid none solid none;
    cursor: pointer;
    padding: 5px 30px;
}