@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.header{
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
    padding: 15px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-direction: row;
}
.text{
    margin: 0;
    color: #000;
    user-select: none;
}
button, form input[type="button"] {
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    user-select: none;
}
.links{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.links li{
    padding: 0 15px 0 0;
}
.links button{
    color: rgba(0,0,0,0.6);
    background-color: #fff;
    border-radius: 24px;
    padding: 10px 15px;
    transition: .4s ease 0s;
}
.links button:hover{
    background-color: #fff;
    color: #000;
}
form input[type="button"]:hover{
    background-color: #fff;

}


form input[type="button"]:active{
    opacity: .4;
}
input[type="button"]{
    background-color: blue;
    color: rgba(255,255,255,0.9);
    border-radius: 24px;
    padding: 10px 40px;
    transition: .4s ease 0s;
}
.login form input[type="button"] {
    background-color: blue;
}
.login form input[type="button"]:hover {
    color:#fff;
}
.out form input[type="button"] {
    background-color: red;
}