@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

    .header{
        z-index: 100;
        position: fixed;
        width: 100vw;
        height: 55px;
        top: 0;
        left: 0;
        right: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #f6f6f6;
        padding: 0 15px;
        .header_body{
            height: 100%;
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .text{
                margin: 0;
                font-size: 1.5rem;
                color: #000;
                user-select: none;
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 2vw;
                }
            }
            nav{
                display: flex;
                flex-direction: row;
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    li{
                        padding: 0 15px 0 0;
                    }
                    button{
                        border: none;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        cursor: pointer;
                        user-select: none;
                        font-size: 1rem;
                        color: rgba(0,0,0,0.6);
                        background-color: #fff;
                        border-radius: 24px;
                        padding: 10px 15px;
                        transition: .4s ease 0s;
                        &:hover{
                            background-color: #fff;
                            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
                            color: #000;
                        }
                    }
                }
            }
        }
    }

.header.mobile {
    height: 70px;
}




.mobile__menu{
    z-index: 300;
    position: fixed;
    left: -100vw;
    top: 0;
    opacity: .5;
    bottom: 0;
    height: 100vh;
    width: 70vw;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: .3s ease 0s;
    ul {
        list-style: none;
        overflow-y: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
            width: inherit;
            margin-bottom: 10px;
            a {
                text-decoration: none;
                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    margin-left: 15px;
                }
                button{
                    display: flex;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0);
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    height: 3rem;
                    width: 100%;
                    overflow: hidden;
                    border: none;
                    text-align: start;
                    padding: 0 5px;
                    transition: 1s ease 0s;
                    &:hover{
                        background-color: #333;
                    }
                }
            }
            
        }
    }
}
.mobile__menu.open {
    left: 0;
    opacity: 1;
}

  
  .burger {  
    width: 50px;
    cursor: pointer;
    border: none;
    user-select: none;
  }
  
  span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 8px;
    background: #000;
    transition: all .3s;
    
  }
  span + span {
    margin-top: 7px;
  }
  
