.favorite_list{
    position: fixed;
    overflow-y: auto;
        // &::-webkit-scrollbar {
        //     width: 0;
        // }
        &::-webkit-scrollbar{
            width: 10px;
            height: 10px;
            }
            &::-webkit-scrollbar-thumb{
            background: #919191;
            border-radius: 9px;
            }
            &::-webkit-scrollbar-thumb:hover{
            background: #b9b9b9;
            }
            &::-webkit-scrollbar-track{
            background: #FFFFFF;
            border-radius: 9px;
            box-shadow: inset 0px 0px 0px 0px #F0F0F0;
            }
        h1{
            font-size: 28px;
            text-align: center;
            font-family: "Montserrat", sans-serif;
        }
        
    padding: 15px;
    right: 30px;
    top: 100px;
    width: 320px;
    max-height: 80vh;
    box-shadow: 4px 4px 15px #d3d3d6, -4px -4px 15px #fff;
    background-color: #f6f6f6;
    border-radius: 25px;
    ul{ 
        list-style: none;
        li{
            text-align: center;
            margin-top: 10px;
            border-radius: 25px;
            padding: 10px 0;
            &:hover{
                cursor: pointer;
                background-color: #eee;
            }
        }
    }
}